.DS_Store
.vscode/
*.code-workspace

__pycache__
.pytest_cache
.python-version
.venv

*.log
tmp/**
.env

instance/*
!instance/.gitkeep

data/*
!data/.gitkeep
work
.env
credential.json
patch*.py
culc*.py
